*{
    padding: 0;
    margin: 0;
}

nav{
    border : black solid 2px;
    padding : 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.border-circle{
    border-radius: 50px;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.name{
    margin-left : .25em;
    font-size : 20px;
}
nav ul{
    display : flex;
    align-items: center;
}

nav ul li{
    margin-left : 1rem;
    list-style: none;
}
.border{
    border : solid 3px green;
}