*{
    padding: 0;
    margin: 0;
}

nav{
    padding : 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.border-circle{
    border-radius: 50px;
}
.grid{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.name{
    margin-left : .5em;
    font-size : 20px;
}
nav ul{
    display : flex;
    align-items: center;
}

nav ul li{
    margin-left : 1rem;
    list-style: none;
}
.container
{
    padding : 2rem;
}

.text-center
{
    text-align: center;
}
.text-gray{
    color : gray;
}

.container h1{
    margin-bottom: .2rem;
}

@media (max-width : 800px)
{
    nav{
        padding : 1.5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .grid{
        display: flex;
        flex-direction: column;
    }
    .grid img{
        margin-bottom: 0.5rem;
    }
    nav div{
        margin-bottom: 1rem;
    }
}